<h1>CBM64</h1>

<p>Hey <%= @user.name %>,</p>

<p>
Welcome to our self-driving car system!
Click on the link below to activate your account:
</p>

<%= link_to "Activate", edit_account_activation_url(@user.activation_token,
                                                    email: @user.email) %>